<!DOCTYPE html>
<html>

<head>
	<title></title>
</head>

<body>

	<div id="app">
		<input type="text" v-model="input_location"></input><br />
		<div id=""></div>
		<button v-on:click="getWeather()">Find weather</button>
		
		<div v-if="weatherLoaded">
			<!-- {{ weather["query"]["results"]["channel"]["item"]["forecast"] }} -->

			<!-- ^^ This will break the page if it tries to call a method on weather and weather is undefined. Weather will be undefined when this object hasnt loaded yet when you try to call the method on it. so there are 2 solutions: we have to either 1. put it inside an "if" statement that only calls {{weather["query"]["results"]}} after 'weather' has been defined inside weather.js, or 2. make sure that we define 'weather' immediately when the page loads. -->

			{{ today }}<br/><br/>

			<img :src='images["today"]'>

			<div v-for="item in forecast"> {{ item }} </div>

		</div>

		


	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script src="vue.js"></script> <!-- This tag includes Vue.js in the HTML file. -->
	<script src="weather.js"></script>
	

</body>
</html>